---
import './card-portfolio.css';
const {
	title,
	description,
	imgSrc,
	skills,
	demoURL,
	averageBrightness,
} = Astro.props;
---

<div class="card__portfolio">
	
	<img
		src={imgSrc}
		alt={title}
		crossorigin=""
		loading="lazy"
		average-brightness={averageBrightness}
	/>

	<div class="description__container">
		<a href={demoURL} target="_blank"><h2 class="card__title">{title}</h2></a>
		<div class="description">
			<p>{description}</p>

			<div class="skills">
				{
					skills.map((skill) => (
						<iconify-icon class="iconify" icon={skill} />
					))
				}
			</div>

				<a href={demoURL} target="_blank">
					<span style="font-size: medium;">
						Check It Out
						{(<iconify-icon icon="quill:link-out" />)}
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
