---
const {width, height} = Astro.props;
const socialLinks = [
	{
		title: 'LinkedIn',
		icon: 'simple-icons:linkedin',
		href: 'https://www.linkedin.com/in/christos-panorios/',

	},

	{
		title: 'Github',
		icon: 'simple-icons:github',
		href: 'https://github.com/chrisp2797',

	},
	{
		title: 'Mail',
		icon: 'simple-icons:gmail',
		href: 'mailto:cpanorios@gmail.com',

	},
];
---

<div class="icons__container">
    {
        socialLinks.map((data) => (
            <a
                href={data.href}
                target="_blank"
                rel="nofollow noreferrer noopener"
            >
                <iconify-icon
					class=`skill__icon ${data.title}`
                    icon={data.icon}
                    width={width}
                    height={height}
                />
            </a>
        ))
    }
</div>

<style>
	.icons__container {
		display: flex;
    width: 29.6rem;
    /* padding: 1.3rem 4rem; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.skill__icon{
	color:#dcd8fc;
}

	.LinkedIn:hover{
		color: #0e76a8;
	}
	.Github:hover{
		color:#e72cd8;
	}

	.Mail:hover{
		color:#d40e5a;
	}



</style>